* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
}


/* navbar  */

nav {
    background-color: rgba(255, 255, 255, 0);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 9999;
    width: 100%;
}

nav .navbar {
    display: flex;
    padding: 17px 0px;
    justify-content: space-around;
    color: black;
}

nav .navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav ul li a:hover {
    color: rgb(234, 234, 234);
}

nav ul li.closeNav {
    display: none;
    cursor: pointer;
}

nav .navbar .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

nav .navbar .logo h4 {
    margin-left: 10px;
    font-family: 'Merriweather', serif;
    font-size: 16px;
}

nav .navbar #menuToogle {
    display: none;
    align-items: center;
}


/* akhir navbar  */


/* hero  */

.hero {
    background-image: url(img/landingpage1.jpg);
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-position: center top;
    background-position-x: center;
    overflow-x: hidden;
}

.hero .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    width: 100%;
    height: 100%;
    /* background-color: #c00d16; */
}

.hero .container .judul h1 {
    color: aliceblue;
    font-size: 5.5vw;
    font-family: 'Noto Serif', serif;
    text-shadow: 1px 1px 1px rgba(249, 97, 97, 0.5);
}

.hero .container .judul {
    transform: translateX(-600px);
    opacity: 0;
}

.hero .container .judul.muncul {
    transform: translateX(0px);
    opacity: 1;
    transition: ease 1.4s;
}

.hero .container .deksripsi {
    width: 50%;
    transform: translateX(600px);
    opacity: 0;
}

.hero .container .deksripsi.muncul {
    transform: translateX(0px);
    opacity: 1;
    transition: ease 1.4s;
}

.hero .container .deksripsi p {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 1px rgba(249, 97, 97, 0.5);
    text-align: center;
    margin-top: 14px;
    font-size: 1.2vw;
}

.hero .container .sosmed {
    margin-top: 16px;
    display: flex;
    text-decoration: none;
}

.hero .container .sosmed a {
    margin-right: 8px;
}

.hero .container .sosmed a:hover {
    transform: translateY(-6px);
    transition: ease 0.3s;
}

.hero .container .sosmed a svg {
    filter: drop-shadow(1px 1px 6px rgba(255, 255, 255, 0.8));
}


/* akhir hero */


/* responsive  */

@media (max-width: 992px) {
    nav .navbar ul {
        width: 50%;
    }
    .hero .container .judul h1 {
        font-size: 90px;
    }
    .hero .container .deksripsi {
        width: 80%;
    }
    .hero .container .deksripsi p {
        font-size: 20px;
    }
    .hero .container .sosmed a svg {
        width: 34px;
        height: 34px;
    }
}

@media (max-width: 768px) {
    nav .navbar {
        transition: ease 1s;
    }
    nav .navbar ul {
        position: absolute;
        right: 0px;
        top: 0;
        transform: translateX(100%);
        flex-direction: column;
        height: 100vh;
        width: 80%;
        justify-content: left;
        align-items: flex-start;
        background-color: #c00d16;
        transition: ease 0.6s;
    }
    nav ul li a:hover {
        color: rgb(194, 194, 194);
    }
    nav .navbar ul.muncul {
        transform: translateX(0);
    }
    nav .navbar ul li {
        margin: 20px 50px;
    }
    nav ul li a {
        color: rgb(255, 255, 255);
        font-size: 18px;
    }
    nav .navbar #menuToogle {
        display: flex;
        cursor: pointer;
    }
    nav ul li.closeNav {
        display: flex;
    }
    .hero .container .judul h1 {
        font-size: 90px;
    }
    .hero .container .deksripsi {
        width: 80%;
    }
    .hero .container .deksripsi p {
        font-size: 18px;
    }
    .hero .container .sosmed a svg {
        width: 29px;
        height: 29px;
    }
}

@media (max-width: 576px) {
    nav .navbar {
        transition: ease 1s;
    }
    nav .navbar ul {
        position: absolute;
        right: 0px;
        top: 0;
        transform: translateX(100%);
        flex-direction: column;
        height: 100vh;
        width: 80%;
        justify-content: left;
        align-items: flex-start;
        background-color: #c00d16;
        transition: ease 0.6s;
    }
    nav ul li a:hover {
        color: rgb(194, 194, 194);
    }
    nav .navbar ul.muncul {
        transform: translateX(0);
    }
    nav .navbar ul li {
        margin: 20px 50px;
    }
    nav ul li a {
        color: rgb(255, 255, 255);
        font-size: 18px;
    }
    nav .navbar #menuToogle {
        display: flex;
        cursor: pointer;
    }
    nav ul li.closeNav {
        display: flex;
    }
    .hero .container .judul h1 {
        font-size: 60px;
    }
    .hero .container .deksripsi {
        width: 90%;
    }
    .hero .container .deksripsi p {
        font-size: 12px;
    }
    .hero .container .sosmed a svg {
        width: 20px;
        height: 20px;
    }
}