* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-color: rgb(244, 244, 244);
}


/* navbar  */

nav {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 20px rgba(155, 155, 155, 0.6);
    position: fixed;
    z-index: 9999;
    width: 100%;
    margin-bottom: 20vh;
}

nav .navbar {
    display: flex;
    padding: 17px 0px;
    justify-content: space-around;
    color: black;
}

nav .navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav ul li a.active {
    color: rgb(229, 59, 59);
}

nav ul li a:hover {
    color: rgb(229, 59, 59);
}

nav ul li.closeNav {
    display: none;
    cursor: pointer;
}

nav .navbar .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

nav .navbar .logo h4 {
    margin-left: 10px;
    font-family: 'Merriweather', serif;
    font-size: 16px;
}

nav .navbar #menuToogle {
    display: none;
    align-items: center;
}


/* akhir navbar  */


/* about 1 */

section.about1 {
    position: relative;
    padding-top: 170px;
    overflow-x: hidden;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    box-shadow: 2px 2px 12px rgba(118, 118, 118, 0.5);
}

section.about1 .container {
    display: flex;
}

section.about1 .container .img {
    flex: 0 0 58.333333%;
    margin-right: 30px;
    overflow: hidden;
    border-radius: 30px 30px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transform: translateX(-500px);
    opacity: 0;
    transition: ease 1.3s;
}

section.about1 .container .img.muncul {
    transform: translateX(0px);
    opacity: 1;
}

section.about1 .container .img img {
    width: 100%;
    height: 100%;
    transition: ease 0.9s;
    transform: scale(1.1);
}

section.about1 .container .img:hover img {
    transform: scale(1.3);
}

section.about1 .container .deksripsi {
    transform: translateX(500px);
    opacity: 0;
    transition: ease 1.3s;
}

section.about1 .container .deksripsi.muncul {
    transform: translateX(0px);
    opacity: 1;
}

section.about1 .container .deksripsi h4 {
    font-family: 'Kaushan Script', cursive;
    /* margin-top: 3px; */
    margin-bottom: 10px;
    font-size: 3.6vw;
    text-align: center;
    font-weight: bold !important;
    color: #2d2d2d;
    text-shadow: 2px 2px 1px rgba(143, 143, 143, 0.4);
}

section.about1 .container .deksripsi p {
    font-size: 1vw;
    font-weight: 200;
    color: #7c7c7c;
    font-family: 'Literata', serif;
    /* text-align: justify; */
}


/* akhir about 1 */


/* about 2  */

section.about2 {
    position: relative;
    padding-top: 100px;
    overflow-x: hidden;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    box-shadow: 2px 2px 12px rgba(118, 118, 118, 0.5);
}

section.about2 .container {
    display: flex;
}

section.about2 .container .img {
    flex: 0 0 55.333333%;
    overflow: hidden;
    border-radius: 30px 30px;
    margin-left: 30px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

section.about2 .container .img img {
    width: 100%;
    height: 100%;
    transition: ease 0.9s;
    transform: scale(1.1);
}

section.about2 .container .img:hover img {
    transform: scale(1.3);
}

section.about2 .container .deksripsi h4 {
    font-family: 'Kaushan Script', cursive;
    /* margin-top: 3px; */
    margin-bottom: 10px;
    font-size: 3.8vw;
    text-align: center;
    font-weight: bold !important;
    color: #2d2d2d;
    text-shadow: 2px 2px 1px rgba(143, 143, 143, 0.4);
}

section.about2 .container .deksripsi p {
    font-size: 0.97vw;
    font-weight: 200;
    color: #7c7c7c;
    font-family: 'Literata', serif;
    /* text-align: justify; */
}


/* akhir about 2  */


/* about 3 */

section.about3 {
    position: relative;
    padding-top: 120px;
    overflow-x: hidden;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    box-shadow: 2px 2px 12px rgba(118, 118, 118, 0.5);
}

section.about3 .container {
    display: flex;
}

section.about3 .container .story1 {
    flex: 0 0 30%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

section.about3 .container .story1 .img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

section.about3 .container .story1 img {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
}

section.about3 .container .story1 .deksripsi {
    margin-top: 10px;
}

section.about3 .container .story1 .deksripsi h4 {
    font-family: 'Kaushan Script', cursive;
    /* margin-top: 3px; */
    margin-bottom: 10px;
    font-size: 3.2vw;
    text-align: center;
    font-weight: bold !important;
    color: #2d2d2d;
    text-shadow: 2px 2px 1px rgba(143, 143, 143, 0.4);
}

section.about3 .container .story1 .deksripsi p {
    font-size: 0.97vw;
    font-weight: 200;
    color: #7c7c7c;
    font-family: 'Literata', serif;
    text-align: center;
}

section.about3 .container .story2 {
    flex: 0 0 40%;
    overflow: hidden;
    width: 100%;
    overflow: hidden;
}

section.about3 .container .story2 .arrowRight {
    display: flex;
    justify-content: center;
    margin-top: 140px;
    cursor: pointer;
}

section.about3 .container .story2 .arrowRight svg.svgBottom {
    display: none;
}

section.about3 .container .story3 {
    flex: 0 0 30%;
    overflow: hidden;
    width: 100%;
    height: 100%;
    overflow: hidden;
    opacity: 0;
    transition: ease-in 1.2s;
}

section.about3 .container .story3.muncul {
    opacity: 1;
}

section.about3 .container .story3 .img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    overflow: hidden;
}

section.about3 .container .story3 img {
    width: 100%;
    height: 100%;
    transform: scale(1.1);
}

section.about3 .container .story3 .deksripsi {
    margin-top: 10px;
}

section.about3 .container .story3 .deksripsi h4 {
    font-family: 'Kaushan Script', cursive;
    /* margin-top: 3px; */
    margin-bottom: 10px;
    font-size: 3.2vw;
    text-align: center;
    font-weight: bold !important;
    color: #2d2d2d;
    text-shadow: 2px 2px 1px rgba(143, 143, 143, 0.4);
}

section.about3 .container .story3 .deksripsi p {
    font-size: 0.97vw;
    font-weight: 200;
    color: #7c7c7c;
    font-family: 'Literata', serif;
    text-align: center;
}


/* akhir about 3  */


/* about 4 */

section.about4 {
    position: relative;
    padding-top: 80px;
    overflow-x: hidden;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 50px;
    box-shadow: 2px 2px 12px rgba(118, 118, 118, 0.5);
}

section.about4 .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

section.about4 .container h4 {
    font-family: 'Kaushan Script', cursive;
    /* margin-top: 3px; */
    margin-bottom: 10px;
    font-size: 4.5vw;
    text-align: center;
    font-weight: bold !important;
    color: #2d2d2d;
    text-shadow: 2px 2px 1px rgba(143, 143, 143, 0.4);
}

section.about4 .container .data {
    text-align: center;
    margin-top: 30px;
}

section.about4 .container .data tr td {
    padding: 10px;
}

section.about4 .container .data .headTable {
    background-color: #b2b2b2;
    font-weight: 800;
}

section.about4 .container p {
    margin-top: 20px;
}

section.about4 .container p a {
    font-size: 0.97vw;
    margin-top: 20px;
    text-decoration: none;
    font-weight: 200;
    color: #7c7c7c;
    font-family: 'Literata', serif;
    text-align: center;
}


/* akhir about 4 */


/* about 5  */

section.about5 {
    position: relative;
    padding-top: 80px;
    overflow-x: hidden;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 14px;
    box-shadow: 2px 2px 12px rgba(118, 118, 118, 0.5);
}

section.about5 .container h4 {
    font-family: 'Kaushan Script', cursive;
    /* margin-top: 3px; */
    margin-bottom: 10px;
    font-size: 4.7vw;
    text-align: center;
    font-weight: bold !important;
    color: #2d2d2d;
    text-shadow: 2px 2px 1px rgba(143, 143, 143, 0.4);
}

section.about5 .container .galeri {
    width: 95%;
    margin: 60px auto 50px;
    list-style: none;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 15px;
    cursor: pointer;
}

section.about5 .container .galeri li {
    overflow: hidden;
}

section.about5 .container .galeri li img {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    transition: ease 0.7s;
}

section.about5 .container .galeri li img:hover {
    transform: scale(1.4);
}

section.about5 .container p {
    font-size: 0.9vw;
    font-weight: 200;
    color: #7c7c7c;
    font-family: 'Literata', serif;
    text-align: center;
}


/* akhir about 5 */


/* footer  */

footer {
    position: relative;
    padding-top: 15px;
    overflow-x: hidden;
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 15px;
    background-color: #3d3d3d;
}

footer .container p {
    font-size: 0.75vw;
    font-weight: 200;
    color: #aeaeae;
    font-family: 'Literata', serif;
    text-align: center;
}


/* akhir footer  */


/* responsive  */

@media (max-width: 992px) {
    nav .navbar ul {
        width: 50%;
    }
    /* about 1 */
    section.about1 {
        padding-top: 150px;
    }
    section.about1 .container {
        flex-direction: column;
    }
    section.about1 .container .img {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    section.about1 .container .deksripsi {
        display: flex;
    }
    section.about1 .container .deksripsi h4 {
        margin-bottom: 10px;
        font-size: 9.3vw;
        align-self: center;
    }
    section.about1 .container .deksripsi p {
        font-size: 1.7vw;
        text-align: left;
        width: 70%;
        font-weight: 200;
    }
    /* about 2 */
    section.about2 {
        padding-top: 80px;
    }
    section.about2 .container {
        flex-direction: column;
    }
    section.about2 .container .img {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    section.about2 .container .deksripsi {
        display: flex;
        margin-bottom: 50px;
    }
    section.about2 .container .deksripsi h4 {
        margin-bottom: 10px;
        font-size: 8.2vw;
        width: 52%;
        margin-right: 50px;
        align-self: center;
        overflow-x: hidden;
    }
    section.about2 .container .deksripsi p {
        font-size: 1.6vw;
        text-align: left;
        width: 70%;
        font-weight: 200;
    }
    /* about 3 */
    section.about3 .container .story1 .deksripsi h4 {
        font-family: 'Kaushan Script', cursive;
        /* margin-top: 3px; */
        margin-bottom: 10px;
        font-size: 3.6vw;
        text-align: center;
    }
    section.about3 .container .story1 .deksripsi p {
        font-size: 1vw;
        font-weight: 200;
        text-align: center;
    }
    section.about3 .container .story2 .arrowRight {
        display: flex;
        justify-content: center;
        margin-top: 80px;
        cursor: pointer;
    }
    section.about3 .container .story2 .arrowRight svg {
        height: 6vh;
        width: 6vh;
    }
    section.about3 .container .story3 .deksripsi h4 {
        font-family: 'Kaushan Script', cursive;
        /* margin-top: 3px; */
        margin-bottom: 10px;
        font-size: 3.6vw;
        text-align: center;
    }
    section.about3 .container .story3 .deksripsi p {
        font-size: 1vw;
        font-weight: 200;
        text-align: center;
    }
    section.about4 .container h4 {
        font-size: 5.5vw;
    }
    section.about4 .container p a {
        font-size: 1.3vw;
    }
    /* about 5  */
    section.about5 {
        position: relative;
        padding-top: 60px;
    }
    section.about5 .container h4 {
        font-family: 'Kaushan Script', cursive;
        /* margin-top: 3px; */
        margin-bottom: 10px;
        font-size: 6vw;
        text-align: center;
        font-weight: bold !important;
        color: #2d2d2d;
        text-shadow: 2px 2px 1px rgba(143, 143, 143, 0.4);
    }
    section.about5 .container p {
        font-size: 2vw;
        font-weight: 200;
        color: #7c7c7c;
        font-family: 'Literata', serif;
        text-align: center;
    }
    section.about5 .container p svg {
        width: 1.5vw;
        height: 1.5vw;
    }
    /* footer  */
    footer {
        position: relative;
        padding-top: 19px;
        overflow-x: hidden;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 19px;
        background-color: #3d3d3d;
    }
    footer .container p {
        font-size: 1.2vw;
        font-weight: 200;
        color: #aeaeae;
        font-family: 'Literata', serif;
        text-align: center;
    }
    footer .container p svg {
        width: 1vw;
        height: 1vw;
    }
}

@media (max-width: 768px) {
    nav .navbar {
        transition: ease 1s;
    }
    nav .navbar ul {
        position: absolute;
        right: 0px;
        top: 0;
        transform: translateX(100%);
        flex-direction: column;
        height: 100vh;
        width: 80%;
        justify-content: left;
        align-items: flex-start;
        background-color: #9e131a;
        transition: ease 0.6s;
    }
    nav ul li a.active {
        color: rgb(173, 173, 173);
    }
    nav ul li a:hover {
        color: rgb(173, 173, 173);
    }
    nav .navbar ul.muncul {
        transform: translateX(0);
    }
    nav .navbar ul li {
        margin: 20px 50px;
    }
    nav ul li a {
        color: rgb(244, 244, 244);
        text-shadow: 2px 2px 1px rgba(57, 57, 57, 0.6);
        font-size: 18px;
        font-weight: 400;
    }
    nav .navbar #menuToogle {
        display: flex;
        cursor: pointer;
    }
    nav ul li.closeNav {
        display: flex;
    }
    section.about1 .container {
        flex-direction: column;
    }
    section.about1 .container .img {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0px;
        margin-bottom: 30px;
    }
    section.about1 .container .deksripsi {
        display: flex;
    }
    section.about1 .container .deksripsi h4 {
        margin-bottom: 10px;
        font-size: 9vw;
        align-self: center;
    }
    section.about1 .container .deksripsi p {
        font-size: 1.7vw;
        text-align: left;
        width: 70%;
        font-weight: 200;
    }
    section.about2 .container .deksripsi h4 {
        margin-right: 30px;
    }
    /* about 3  */
    section.about3 {
        position: relative;
        padding-top: 100px;
        overflow-x: hidden;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
    }
    section.about3 .container {
        display: flex;
        flex-direction: column;
    }
    section.about3 .container .story1 {
        flex: 0 0 100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section.about3 .container .story1 .img {
        width: 50%;
        height: 50%;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
    }
    section.about3 .container .story1 img {
        width: 100%;
        height: 100%;
        transform: scale(1.1);
    }
    section.about3 .container .story1 .deksripsi {
        margin-top: 20px;
        width: 85%;
    }
    section.about3 .container .story1 .deksripsi h4 {
        font-family: 'Kaushan Script', cursive;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 6.2vw;
        text-align: center;
        font-weight: bold !important;
        color: #2d2d2d;
        text-shadow: 2px 2px 1px rgba(143, 143, 143, 0.4);
    }
    section.about3 .container .story1 .deksripsi p {
        font-size: 2.3vw;
        font-weight: 200;
        color: #7c7c7c;
        font-family: 'Literata', serif;
        text-align: center;
    }
    section.about3 .container .story2 {
        flex: 0 0 100%;
        overflow: hidden;
        width: 100%;
        overflow: hidden;
    }
    section.about3 .container .story2 .arrowRight {
        display: flex;
        justify-content: center;
        margin-top: 90px;
        cursor: pointer;
    }
    section.about3 .container .story2 .arrowRight svg.svgBottom {
        display: block;
    }
    section.about3 .container .story2 .arrowRight svg.svgRight {
        display: none;
    }
    section.about3 .container .story3 {
        margin-top: 90px;
        flex: 0 0 100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section.about3 .container .story3 .img {
        width: 50%;
        height: 50%;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
    }
    section.about3 .container .story3 img {
        width: 100%;
        height: 100%;
        transform: scale(1.1);
    }
    section.about3 .container .story3 .deksripsi {
        margin-top: 10px;
        width: 85%;
    }
    section.about3 .container .story3 .deksripsi h4 {
        font-family: 'Kaushan Script', cursive;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 6.2vw;
        text-align: center;
        font-weight: bold !important;
        color: #2d2d2d;
        text-shadow: 2px 2px 1px rgba(143, 143, 143, 0.4);
    }
    section.about3 .container .story3 .deksripsi p {
        font-size: 2.3vw;
        font-weight: 200;
        color: #7c7c7c;
        font-family: 'Literata', serif;
        text-align: center;
    }
    section.about4 .container h4 {
        font-size: 5.9vw;
    }
    section.about4 .container p a {
        font-size: 1.5vw;
    }
    footer {
        position: relative;
        padding-top: 19px;
        overflow-x: hidden;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 19px;
        background-color: #3d3d3d;
    }
    footer .container p {
        font-size: 1.2vw;
        font-weight: 200;
        color: #aeaeae;
        font-family: 'Literata', serif;
        text-align: center;
    }
    footer .container p svg {
        width: 1vw;
        height: 1vw;
    }
}

@media (max-width: 576px) {
    nav .navbar {
        transition: ease 1s;
    }
    nav .navbar ul {
        position: absolute;
        right: 0px;
        top: 0;
        transform: translateX(100%);
        flex-direction: column;
        height: 100vh;
        width: 80%;
        justify-content: left;
        align-items: flex-start;
        transition: ease 0.6s;
    }
    nav ul li a:hover {
        color: rgb(194, 194, 194);
    }
    nav .navbar ul.muncul {
        transform: translateX(0);
    }
    nav .navbar ul li {
        margin: 20px 50px;
    }
    nav ul li a {
        color: rgb(255, 255, 255);
        font-size: 18px;
    }
    nav .navbar #menuToogle {
        display: flex;
        cursor: pointer;
    }
    nav ul li.closeNav {
        display: flex;
    }
    /* about 1 */
    section.about1 {
        padding-top: 130px;
    }
    section.about1 .container .img {
        flex: 0 0 100%;
        max-width: 100%;
        margin-right: 0px;
        margin-bottom: 17px;
    }
    section.about1 .container .deksripsi {
        display: flex;
        flex-direction: column;
    }
    section.about1 .container .deksripsi h4 {
        margin-bottom: 10px;
        font-size: 9.4vw;
        align-self: center;
    }
    section.about1 .container .deksripsi p {
        font-size: 3.5vw;
        align-self: center;
        width: 100%;
        font-weight: 200;
    }
    /* about 2 */
    section.about2 {
        padding-top: 50px;
    }
    section.about2 .container .img {
        flex: 0 0 100%;
        max-width: 100%;
        margin-left: 0px;
        margin-top: 0px;
    }
    section.about2 .container .deksripsi {
        display: flex;
        flex-direction: column;
        margin-bottom: 40px;
    }
    section.about2 .container .deksripsi h4 {
        margin-bottom: 10px;
        font-size: 9vw;
        align-self: center;
        width: 100%;
        margin: 0px 0px 18px 0px;
    }
    section.about2 .container .deksripsi p {
        font-size: 3.5vw;
        align-self: center;
        width: 100%;
        font-weight: 200;
    }
    /* about 3  */
    section.about3 {
        position: relative;
        padding-top: 50px;
        overflow-x: hidden;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
    }
    section.about3 .container {
        display: flex;
        flex-direction: column;
    }
    section.about3 .container .story1 {
        flex: 0 0 100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section.about3 .container .story1 .img {
        width: 50%;
        height: 50%;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
    }
    section.about3 .container .story1 img {
        width: 100%;
        height: 100%;
        transform: scale(1.1);
    }
    section.about3 .container .story1 .deksripsi {
        margin-top: 10px;
        width: 85%;
    }
    section.about3 .container .story1 .deksripsi h4 {
        font-family: 'Kaushan Script', cursive;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 8.4vw;
        text-align: center;
        font-weight: bold !important;
        color: #2d2d2d;
        text-shadow: 2px 2px 1px rgba(143, 143, 143, 0.4);
    }
    section.about3 .container .story1 .deksripsi p {
        font-size: 3vw;
        font-weight: 200;
        color: #7c7c7c;
        font-family: 'Literata', serif;
        text-align: center;
    }
    section.about3 .container .story2 {
        flex: 0 0 100%;
        overflow: hidden;
        width: 100%;
        overflow: hidden;
    }
    section.about3 .container .story2 .arrowRight {
        display: flex;
        justify-content: center;
        margin-top: 50px;
        cursor: pointer;
    }
    section.about3 .container .story3 {
        margin-top: 50px;
        flex: 0 0 100%;
        width: 100%;
        overflow: hidden;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    section.about3 .container .story3 .img {
        width: 50%;
        height: 50%;
        justify-content: center;
        border-radius: 50%;
        overflow: hidden;
    }
    section.about3 .container .story3 img {
        width: 100%;
        height: 100%;
        transform: scale(1.1);
    }
    section.about3 .container .story3 .deksripsi {
        margin-top: 10px;
        width: 85%;
    }
    section.about3 .container .story3 .deksripsi h4 {
        font-family: 'Kaushan Script', cursive;
        margin-top: 5px;
        margin-bottom: 10px;
        font-size: 8.4vw;
        text-align: center;
        font-weight: bold !important;
        color: #2d2d2d;
        text-shadow: 2px 2px 1px rgba(143, 143, 143, 0.4);
    }
    section.about3 .container .story3 .deksripsi p {
        font-size: 3vw;
        font-weight: 200;
        color: #7c7c7c;
        font-family: 'Literata', serif;
        text-align: center;
    }
    section.about4 {
        position: relative;
        padding-top: 70px;
        overflow-x: hidden;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 50px;
        box-shadow: 2px 2px 12px rgba(118, 118, 118, 0.5);
    }
    section.about4 .container h4 {
        font-size: 8vw;
    }
    section.about4 .container p a {
        font-size: 3vw;
    }
    /* about 5  */
    section.about5 {
        position: relative;
        padding-top: 50px;
    }
    section.about5 .container h4 {
        font-family: 'Kaushan Script', cursive;
        /* margin-top: 3px; */
        margin-bottom: 10px;
        font-size: 8vw;
        text-align: center;
        font-weight: bold !important;
        color: #2d2d2d;
        text-shadow: 2px 2px 1px rgba(143, 143, 143, 0.4);
    }
    section.about5 .container .galeri {
        width: 100%;
        margin: 60px auto 20px;
    }
    section.about5 .container p {
        font-size: 2vw;
        font-weight: 200;
        color: #7c7c7c;
        font-family: 'Literata', serif;
        text-align: center;
    }
    section.about5 .container p svg {
        width: 1.5vw;
        height: 1.5vw;
    }
    footer {
        position: relative;
        padding-top: 15px;
        overflow-x: hidden;
        padding-left: 20px;
        padding-right: 20px;
        padding-bottom: 15px;
        background-color: #3d3d3d;
    }
    footer .container p {
        font-size: 1.5vw;
        font-weight: 200;
        color: #aeaeae;
        font-family: 'Literata', serif;
        text-align: center;
    }
    footer .container p svg {
        width: 1.4vw;
        height: 1.4vw;
    }
}