* {
    padding: 0;
    margin: 0;
}

body {
    overflow-x: hidden;
    width: 100vw;
    height: 100vh;
    background-color: rgb(244, 244, 244);
}


/* navbar  */

nav {
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.5);
    position: fixed;
    z-index: 9999;
    width: 100%;
    margin-bottom: 20vh;
}

nav .navbar {
    display: flex;
    padding: 17px 0px;
    justify-content: space-around;
    color: black;
}

nav .navbar ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    width: 40%;
    align-items: center;
}

nav ul li a {
    text-decoration: none;
    color: rgb(0, 0, 0);
}

nav ul li a.active {
    color: rgb(229, 59, 59);
}

nav ul li a:hover {
    color: rgb(229, 59, 59);
}

nav ul li.closeNav {
    display: none;
    cursor: pointer;
}

nav .navbar .logo a {
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    text-decoration: none;
}

nav .navbar .logo h4 {
    margin-left: 10px;
    font-family: 'Merriweather', serif;
    font-size: 16px;
}

nav .navbar #menuToogle {
    display: none;
    align-items: center;
}


/* akhir navbar  */


/* about 1 */

section.about1 {
    position: relative;
    padding-top: 26vh;
    overflow-x: hidden;
    padding-left: 20px;
    padding-right: 20px;
}

section.about1 .container {
    display: flex;
}

section.about1 .container .img {
    flex: 0 0 58.333333%;
    margin-right: 30px;
}

section.about1 .container .img img {
    width: 100%;
    border-radius: 30px;
}


/* akhir about 1 */


/* responsive  */

@media (max-width: 992px) {
    nav .navbar ul {
        width: 50%;
    }
}

@media (max-width: 768px) {
    nav .navbar {
        transition: ease 1s;
    }
    nav .navbar ul {
        position: absolute;
        right: 0px;
        top: 0;
        transform: translateX(100%);
        flex-direction: column;
        height: 100vh;
        width: 80%;
        justify-content: left;
        align-items: flex-start;
        background-color: #c00d16;
        transition: ease 0.6s;
    }
    nav ul li a:hover {
        color: rgb(194, 194, 194);
    }
    nav .navbar ul.muncul {
        transform: translateX(0);
    }
    nav .navbar ul li {
        margin: 20px 50px;
    }
    nav ul li a {
        color: rgb(255, 255, 255);
        font-size: 18px;
    }
    nav .navbar #menuToogle {
        display: flex;
        cursor: pointer;
    }
    nav ul li.closeNav {
        display: flex;
    }
}

@media (max-width: 576px) {
    nav .navbar {
        transition: ease 1s;
    }
    nav .navbar ul {
        position: absolute;
        right: 0px;
        top: 0;
        transform: translateX(100%);
        flex-direction: column;
        height: 100vh;
        width: 80%;
        justify-content: left;
        align-items: flex-start;
        background-color: #c00d16;
        transition: ease 0.6s;
    }
    nav ul li a:hover {
        color: rgb(194, 194, 194);
    }
    nav .navbar ul.muncul {
        transform: translateX(0);
    }
    nav .navbar ul li {
        margin: 20px 50px;
    }
    nav ul li a {
        color: rgb(255, 255, 255);
        font-size: 18px;
    }
    nav .navbar #menuToogle {
        display: flex;
        cursor: pointer;
    }
    nav ul li.closeNav {
        display: flex;
    }
}